{:kotoba.app/id "cloud.itonami.isic-0115", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibqxz7vikpombner7j3yuklk56onczg7sgrevkd2bqq7bad57cm6m", :kotoba.app/embed-url "ipfs://bafkreibqxz7vikpombner7j3yuklk56onczg7sgrevkd2bqq7bad57cm6m", :published {:archive "https://kotobase.net/ipfs/bafkreibqxz7vikpombner7j3yuklk56onczg7sgrevkd2bqq7bad57cm6m", :size 72371, :put-status 201, :get-status 200, :at "2026-08-15T12:55:41.928Z"}}
